extends layout

block content
  main(role="main")

    section(class="jumbotron text-center")
      div(class="container")
        h1 New Music! All Fogd Up

        a(href="/myposts/all-fogd-up" class="btn btn-primary my-2") Listen on your favorite streaming service.

        p(class="lead text-muted") Sounds twisted. That's how you like it.
        a(href="https://www.instagram.com/geoffknot/" class="btn btn-primary my-2") Check out my Instagram.


    div(class="album py-5 bg-light")
      div(class="container")
        div(class="row")
          //
            each post in getPosts()
              div(class="col-md-4")
                div(class="card mb-4 shadow-sm")
                  img(src=post.img height="250px")
                  div(class="card-body")
                    p(class="card-text") 
                      != post.preview

        div(class="row")

          - var postKIG = getPost("all-fogd-up")
            div(class="col-md-4")
              div(class="card mb-4 shadow-sm")
                img(src=postKIG.img height="250px")
                div(class="card-body")
                  p(class="card-text") 
                    != postKIG.preview


          - var postTools = getPost("music-tools")
            div(class="col-md-4")
              div(class="card mb-4 shadow-sm")
                img(src=postTools.img height="250px")
                div(class="card-body")
                  p(class="card-text") 
                    != postTools.preview

          - var postKnot = getPost("geoff-knot")
            div(class="col-md-4")
              div(class="card mb-4 shadow-sm")
                img(src=postKnot.img height="250px")
                div(class="card-body")
                  p(class="card-text") 
                    != postKnot.preview                    