#chord-grid {
    padding: 10px;
    text-align: center;
}

.content {
  margin: 0 auto;
}

.big-selector {
  font-size: large;
}

.chorder-center {
  margin-left: auto;
  margin-right: auto;
  text-align: center; 
}
#ppr1 {display: none;}
#ppr2 {display: none;}