#chord-grid {
    padding: 10px;
    text-align: center;
}

.content {
  margin: 0 auto;
}

.big-selector {
  font-size: large;
}

.chorder-margin {
  margin: 20px;
  border-top: 1px;
  font-style: italic;
}
.chorder-table {
  margin-left: auto;
  margin-right: auto;
  text-align: center; 
}

.chorder-table th{
  padding: 13px;
}
#ppr1 {display: none;}
#ppr2 {display: none;}